/* styles.css */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* styles */
* {
    font-family: 'PT Sans', sans-serif;
    margin: 0px;
}

/* NAVBAR */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: black;
}

.nav-item {
    flex: 0 0 auto;
    display: block;
    text-align: center;
    display: block;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.nav-item a:hover {
    color: rgba(255, 255, 255, 0.675);
    border-bottom: 1px solid;
    padding-bottom: 3px;
}

.nav-logo {
    margin-left: 15%;
    font-size: 30px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    margin-right: 15%;
}

.nav-link {
    font-size: 20px;
}

/*ABOUT*/
